#title{
	background-color: #303030;
	font-family: 'Nunito Sans', sans-serif;
}


.float-left{
	margin-right: 32px;
	margin-top: 12px;
	font-size: 12px;
}


.top-Navbar{
	font-weight: bold;
	font-size: 12px;
	
}

.contact{
	margin-top: 2px;
}

.middle-navbar{
	font-family: 'Nunito Sans', sans-serif;
	padding: 10px 0;
	font-weight: 700;

}

.navbar-brand{
	margin-right: 2rem;

}

.search-container{
	margin-top: 24px;
	margin-right: 24px;
	float: right;
}

.search-input{
	border: 1px solid gray;
}


@media (min-width: 768px) and (max-width: 1023px){
	.top-Navbar{
		float: left;
		margin-left: -15px;
	}

	.menu-list {
  	display: inline-block;
  	padding-top: 0px;
  	list-style-type: none;
	}

	.menu-list-item {
  	display: inline-block;
  	padding-right: 30px;
  	font-size: 12px;
  	letter-spacing: 2px;
	}

	.menu-list-item a {
  	display: inline-block;
  	cursor: pointer;
	}

	.search-container{
		margin-top: -54px;
		margin-right: 90px;
	}

	.border{
		width: 100%;
	}


}

.banner{
	position: relative;
}

.breadcrumb{
	padding: 5rem 0 4rem;
	font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.breadcrumb-item+.breadcrumb-item::before{
	content: '>';
	color: orange;
}

.name{
	font-weight: 700;
}

.myTeam{
	font-family: 'Nunito Sans', sans-serif;
}

.cardbutton{
	background-color: orange;
	border:none;
	font-weight: bold;
	padding: 8px 25px;
}

.cardbutton:hover{
	background-color: #ff6c03;
}

@media (min-width: 1024px) and (max-width: 1364px) {
	.border{
		width: 100%;
	}
}

#footer{
	background-color: #303030;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
}

.about{
	border-bottom: solid 2px orange;
	padding-bottom: 3px;


}

.footer-text{
	font-size: 14px;
}

.footerMenu{
	font-size: 14px;
	font-weight: 700;
	color: white;
}

.footerMenu:hover{
	color: orange;
}

.division:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 1px;
  height: 150px;
  top: 20%;
  left: 95%;
  display: block;
}

.final-footer{
	font-family: 'Nunito Sans', sans-serif;
	background-color: black;
	color: white;
	font-size: 0.75rem;
	font-weight: 700;
	text-align: center;
	padding: 12px;
}

@media screen and (max-width: 400px){
    .name{
        font-size: 40px !important;
    }  
}
